* annex.backend=MD5E
**/.git* annex.largefiles=nothing
*.py annex.largefiles=nothing
*.yaml annex.largefiles=nothing
*.md annex.largefiles=nothing
*.csv annex.largefiles=nothing
.codecarbon.config annex.largefiles=nothing
justfile annex.largefiles=nothing
